<h1>Users</h1>
<%= link_to "Add New User ?", '/users/new', :class => 'btn btn-success' %>
<% @users.each do |user| %>
    <div class="card bg-light">
        <div class="card-body">
            <h3><%= user.username %></h3>
            <p><%= user.email %></p>
            <%= link_to "Edit", edit_user_path(user), data: {confirm: 'Are you sure that you wana edit?'}, :class => 'btn btn-warning' %>
        </div>
    </div>
    <br>
<% end %>
